:root {
  --mainColor: black;
  --secondaryColor: yellow;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondarytext);
}

h1 {
  font-size: 56px;
  color: var(--maintext);
  font-weight: 1000;
}
h2 {
  font-size: 42px;
  color: var(--maintext);
  font-weight: 500px;
}
h3 {
  color: var(--maintext);
  font-size: 28px;
}
h4 {
  font-size: 24px;
  color: var(--maintext);
}
h5 {
  font-size: 20px;
  color: var(--maintext);
}
h6 {
  font-size: 16px;
  color: var(--maintext);
}

a {
  text-decoration: none;
  color: var(--secondaryColor);
}

.links-container > a:hover {
  color: #fff;
}

.s1 {
  background-color: var(--mainColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-container {
  font-size: 24px;
}

#introduction-section {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "heading heading" "left-card right-card";
  gap: 1em;
}

.left-card {
  grid-area: left-card;
}

.right-card {
  grid-area: right-card;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-card > img {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--mainText);
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#preview {
  height: auto;
  width: 300px;
  padding: 1em;
  border: 1.5px solid black;
}

#blog-section {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "heading heading heading" "left-column center-column right-column";
  gap: 1em;
}

#blog-section h2 {
  color: var(--secondaryColor);
}

.heading {
  padding: 2px;
  grid-area: heading;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  padding: 1em;
  align-items: center;
}

.column {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--secondaryColor);
}

.column:hover {
  box-shadow: 5px 5px 5px gray;
}

.left-column {
  grid-area: left-column;
}

.center-column {
  grid-area: center-column;
}

.right-column {
  grid-area: right-column;
}

.column > img {
  width: 100%;
}

button {
  margin-top: 2em;
  background-color: transparent;
  border-radius: 50px;
  padding: 4px 10px;
  border: 1px solid var(--mainText);
}

button a {
  color: var(--mainText);
}

#qoute-section {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#socials-container {
  background: repeating-linear-gradient(
    35deg,
    yellow 0px,
    yellow 40px,
    black 40px,
    black 80px
  );
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  height: 200px;
  width: 500px;
  background-color: yellow;
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: var(--secondaryColor);
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  #introduction-section {
    grid-template-columns: 1fr;
    grid-template-rows: 2em 20em;
    grid-template-areas:
      "heading"
      "left-card"
      "right-card";
  }

  #introduction-section h2 {
    font-size: 34px;
  }

  #nav-bar h2 {
    font-size: 30px;
    font-weight: 200;
  }

  #blog-section {
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "left-column" "center-column" "right-column";
  }
}
